.content > .post > .post-content > p {
	word-wrap: break-word;
	word-break: break-all;
}

#ds-thread {
	margin: 0 30px!important
}

pre {
	font-size: 0.8em!important;
	background-color: #f8f8f8!important;
	font-family: 'Roboto Mono','Lucida Console','Trebuchet MS','Courier New', Monaco, courier,'PingFang SC','Hiragino Sans GB','Microsoft Jhenghei','Microsoft YaHei', monospace!important
}

figure.highlight {
	position: relative!important;
	margin: 1em 0!important;
	border-radius: 2px!important;
	line-height: 1.1em!important;
	background-color: #f8f8f8!important;
	overflow-x: auto!important
}

figure.highlight table,figure.highlight tr,figure.highlight td {
	width: 100%!important;
	border-collapse: collapse!important;
	padding: 0!important;
	margin: 0!important
}

figure.highlight .gutter {
	display: none!important
}

figure.highlight .code pre {
	padding: 1.2em 1.4em!important;
	line-height: 1.5em!important;
	margin: 0!important
}

figure.highlight.html .code:after,figure.highlight.js .code:after,figure.highlight.bash .code:after,figure.highlight.css .code:after,figure.highlight.scss .code:after,figure.highlight.diff .code:after,figure.highlight.java .code:after,figure.highlight.xml .code:after,figure.highlight.python .code:after,figure.highlight.json .code:after,figure.highlight.swift .code:after,figure.highlight.ruby .code:after,figure.highlight.perl .code:after,figure.highlight.php .code:after,figure.highlight.c .code:after,figure.highlight.cpp .code:after {
	position: absolute!important;
	top: 0!important;
	right: 0!important;
	color: #ccc!important;
	text-align: right!important;
	font-size: 0.75em!important;
	padding: 5px 10px 0!important;
	line-height: 15px!important;
	height: 15px!important;
	font-weight: 600!important
}

figure.highlight.html .code:after {
	content: "HTML"
}

figure.highlight.js .code:after {
	content: "JS"
}

figure.highlight.bash .code:after {
	content: "BASH"
}

figure.highlight.css .code:after {
	content: "CSS"
}

figure.highlight.scss .code:after {
	content: "SCSS"
}

figure.highlight.diff .code:after {
	content: "DIFF"
}

figure.highlight.java .code:after {
	content: "JAVA"
}

figure.highlight.xml .code:after {
	content: "XML"
}

figure.highlight.python .code:after {
	content: "PYTHON"
}

figure.highlight.json .code:after {
	content: "JSON"
}

figure.highlight.swift .code:after {
	content: "SWIFT"
}

figure.highlight.ruby .code:after {
	content: "RUBY"
}

figure.highlight.perl .code:after {
	content: "PERL"
}

figure.highlight.php .code:after {
	content: "PHP"
}

figure.highlight.c .code:after {
	content: "C"
}

figure.highlight.java .code:after {
	content: "JAVA"
}

figure.highlight.cpp .code:after {
	content: "CPP"
}

figure.highlight.cpp .code:after {
	content: 'C++'
}

pre {
	color: #525252!important
}

pre .function .keyword,pre .constant {
	color: #0092db!important
}

pre .keyword,pre .attribute {
	color: #e96900!important
}

pre .number,pre .literal {
	color: #ae81ff!important
}

pre .tag,pre .tag .title,pre .change,pre .winutils,pre .flow,pre .lisp .title,pre .clojure .built_in,pre .nginx .title,pre .tex .special {
	color: #2973b7!important
}

pre .symbol,pre .symbol .string,pre .value,pre .regexp {
	color: #42b983!important
}

pre .title {
	color: #83B917!important
}

pre .tag .value,pre .string,pre .subst,pre .haskell .type,pre .preprocessor,pre .ruby .class .parent,pre .built_in,pre .sql .aggregate,pre .django .template_tag,pre .django .variable,pre .smalltalk .class,pre .javadoc,pre .django .filter .argument,pre .smalltalk .localvars,pre .smalltalk .array,pre .attr_selector,pre .pseudo,pre .addition,pre .stream,pre .envvar,pre .apache .tag,pre .apache .cbracket,pre .tex .command,pre .prompt {
	color: #42b983!important
}

pre .comment,pre .java .annotation,pre .python .decorator,pre .template_comment,pre .pi,pre .doctype,pre .shebang,pre .apache .sqbracket,pre .tex .formula {
	color: #b3b3b3!important
}

pre .deletion {
	color: #BA4545!important
}

pre .coffeescript .javascript,pre .javascript .xml,pre .tex .formula,pre .xml .javascript,pre .xml .vbscript,pre .xml .css,pre .xml .cdata {
	opacity: 0.5!important
}

html {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0; }

  body {
    padding: 0;
    margin: 0;
    line-height: 1.6em; }

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }

      h1, h2, h3, h4, h5, h6 {
        text-rendering: optimizeLegibility;
        line-height: 1;
        margin: 2rem 0; }

        h1 {
          font-size: 2.1rem;
          line-height: 1.2em; }

          h2 {
            font-size: 1.9rem;
            line-height: 1.2em; }

            h3 {
              font-size: 1.75rem; }

              h4 {
                font-size: 1.3rem; }

                h5 {
                  font-size: 1.3rem; }

                  h6 {
                    font-size: 1.3rem; }

                    img {
                      max-width: 100%;
                      height: auto; }

                      p, ul, ol, dl {
                        margin: 1em 0; }

                        ol ol, ul ul, ul ol, ol ul {
                          margin: 0.4em 0; }

                          ul p, ol p, li p, .content li p, blockquote p, .content blockquote p,
                          .post blockquote p, .post li p {
                            margin: 0;
                            overflow: visible; }

                            a img {
                              border: none; }

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em; }

  dl dd {
    margin-left: 200px;
    margin-bottom: 1em; }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #efefef;
      margin: 3.2em 0;
      padding: 0; }

      blockquote {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1.6em 0 1.6em -2.2em;
        padding: 0 0 0 1.6em;
        border-left: #4a4a4a 0.4em solid; }

        blockquote p {
          margin: 0.8em 0; }

          blockquote small {
            display: inline-block;
            margin: 0.8em 0 0.8em 1.5em;
            font-size: 0.9em;
            color: #ccc; }

            blockquote small:before {
              content: '\2014 \00A0'; }

              blockquote cite {
                font-weight: bold; }

                blockquote cite a {
                  font-weight: normal; }

                  mark {
                    background-color: #ffc336; }

                    code, tt {
                      padding: 1px 3px;
                      font-family: Inconsolata, monospace, sans-serif;
                      font-size: 0.85em;
                      white-space: pre-wrap;
                      border: 1px solid #E3EDF3;
                      background: #f7f7f9;
                      color: #d14;
                      border-radius: 2px; }
/**
                      pre {
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        margin: 1.6em 0;
                        border: 1px solid #E3EDF3;
                        width: 100%;
                        padding: 10px;
                        font-family: Inconsolata, monospace, sans-serif;
                        font-size: 0.9em;
                        white-space: pre;
                        overflow: auto;
                        background: #F7FAFB;
                        border-radius: 3px; }

                        pre code, tt {
                          font-size: inherit;
                          white-space: -moz-pre-wrap;
                          white-space: pre-wrap;
                          background: transparent;
                          border: none;
                          color: #333;
                          padding: 0; }

                          kbd {
                            display: inline-block;
                            margin-bottom: 0.4em;
                            padding: 1px 8px;
                            border: #ccc 1px solid;
                            color: #666;
                            text-shadow: #fff 0 1px 0;
                            font-size: 0.9em;
                            font-weight: bold;
                            background: #f4f4f4;
                            border-radius: 4px;
                            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }

                            table {
                              -moz-box-sizing: border-box;
                              box-sizing: border-box;
                              margin: 1em 0;
                              width: 100%;
                              max-width: 100%;
                              border-width: 1px;
                              border-style: solid;
                              background-color: transparent; }

                              table, table tr, table tr td, table tr th {
                                border-color: #e5e5e5; }

                                table th {
                                  color: #666666;
                                  background-color: #fdfdfd; }

                                  tr th {
                                    border-bottom-width: 1px;
                                    border-bottom-style: solid;
                                    text-align: left; }

                                    tr th, tr td {
                                      padding: 5px 20px;
                                      border-right: 1px solid;
                                      font-size: 1rem; }

                                      tr th:last-child, tr td:last-child {
                                        border-right: 0px; }

                                        table th {
                                          font-weight: bold; }

                                          table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
                                            background-color: #f9f9f9; }

                                            .gist {
                                              font-size: 12px; }
                                              .gist table {
                                                margin: 0;
                                                width: auto; }
                                                .gist table pre {
                                                  font-size: 12px; }
                                                  .gist table .line-numbers {
                                                    font-size: 12px; }
**/

.toc {
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding: 10px 30px; }

  #fb_comments_container {
    overflow: hidden;
    margin: 0 auto; }
    #fb_comments_container #fb_comments {
      list-style-type: none;
      padding: 0; }
      #fb_comments_container #fb_comments h1 {
        font-size: 1.3em; }
        #fb_comments_container #fb_comments h2 {
          font-size: 1.2em; }
          #fb_comments_container #fb_comments h3 {
            font-size: 1.1em; }
            #fb_comments_container #fb_comments h4, #fb_comments_container #fb_comments h5,
            #fb_comments_container #fb_comments h6 {
              font-size: 1.05em; }
              #fb_comments_container #fb_comments .comment {
                position: relative;
                padding: 25px 0;
                border-bottom: 1px solid rgba(150, 150, 150, 0.2);
                *border-bottom: 1px solid #f0f0f0; }
                #fb_comments_container #fb_comments .comment .avatar {
                  position: absolute;
                  top: 25px;
                  left: 0;
                  width: 50px;
                  float: left; }
                  #fb_comments_container #fb_comments .comment .avatar img {
                    width: 48px;
                    border: none;
                    border-radius: 5px;
                    margin: 0; }
                #fb_comments_container #fb_comments .comment .comment_body,
                #fb_comments_container #fb_comments .comment .c_content {
                  margin-left: 70px;
                  display: block; }
                  #fb_comments_container #fb_comments .comment .comment_body p,
                  #fb_comments_container #fb_comments .comment .c_content p {
                    margin: 5px 0 15px 0;
                    padding: 0;
                    line-height: 1.8; }
                    #fb_comments_container #fb_comments .comment .comment_body .author,
                    #fb_comments_container #fb_comments .comment .c_content .author {
                      line-height: 1.5em;
                      margin: 0;
                      padding: 0; }
                      #fb_comments_container #fb_comments .comment .comment_body .author b,
                      #fb_comments_container #fb_comments .comment .c_content .author b {
                        color: #555; }
                        #fb_comments_container #fb_comments .comment .comment_body .author small,
                        #fb_comments_container #fb_comments .comment .c_content .author small {
                          font-weight: normal;
                          padding-left: 10px;
                          font-size: 0.7em;
                          color: #666; }

#fb_new_comment {
  padding-bottom: 50px; }
  #fb_new_comment textarea {
    border-radius: 5px;
    height: 80px;
    width: 98%;
    padding: 5px;
    font-size: 1em;
    border: 1px solid rgba(150, 150, 150, 0.5);
    *border: 1px solid #a8a8a8;
    line-height: 1.5; }
    #fb_new_comment .comment_error {
      color: red;
      text-align: center;
      display: block;
      font-size: 0.8em;
      padding-top: 1em; }
      #fb_new_comment .c_button:hover {
        background: #E60900;
        color: #fff;
        text-decoration: none; }
        #fb_new_comment .c_button, #fb_new_comment #c_submit {
          cursor: pointer;
          font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
          font-size: 1em;
          line-height: 1.3em;
          letter-spacing: 1px;
          border-radius: 5px;
          padding: 5px 5px 2px 5px; }
          #fb_new_comment .input_body {
            margin-top: 10px; }
            #fb_new_comment .input_body ul {
              list-style: none;
              padding: 5px 0;
              margin: auto 0; }
              #fb_new_comment .input_body ul li {
                float: left;
                margin-right: 2.2%;
                *margin-right: 22px; }
                #fb_new_comment .input_body ul li label {
                  line-height: 1em; }
                  #fb_new_comment .input_body ul li input {
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.5);
                    margin: 0 0 10px 0; }

#SwfStore_farbox_0 {
  height: 0;
  overflow: hidden; }

  @media screen and (max-width: 320px) {
    #fb_comments .c_content, #fb_comments .comment_body {
      margin-left: 57px;   }
}

.logo-title img {
  width: 128px;
}
