@charset "UTF-8";
html {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0 auto 30px auto;
  background-color: #fff;
}

p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
  color: #424242;
}

a:hover, a:active {
  color: #4786D6;
}

/*basic styles ends*/
/*animation starts*/
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*animation ends*/
.content {
  height: auto;
  float: right;
  width: 75%;
  margin-top: 60px;
}

.page-top {
  width: 75%;
  position: fixed;
  right: 0;
  z-index: 3;
  background-color: #fafafa;
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
}
.page-top .nav {
  list-style: none;
  padding: 18px 30px;
  float: left;
  font-size: 12px;
}
.page-top .nav li {
  position: relative;
  display: initial;
  padding-right: 20px;
}
.page-top .nav a {
  color: #5A5A5A;
}
.page-top .nav a:hover {
  color: #4786D6;
}
.page-top .nav a.current {
  color: #5A5A5A;
  padding-bottom: 22px;
  border-bottom: 1px solid #5A5A5A;
}
.page-top .information {
  float: right;
  padding-top: 12px;
  padding-right: 20px;
}
.page-top .information .avatar {
  float: right;
}
.page-top .information .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 300px;
}
.page-top .information .back_btn {
  float: left;
  padding-top: 5px;
  margin-right: -10px;
}
.page-top .information .back_btn li {
  display: initial;
  padding-right: 40px;
}

.sidebar {
  width: 25%;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #f7f7f7;
  height: 100%;
  transition: 0.8s;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  border-right: 1px solid #f2f2f2;
}
.sidebar .logo-title {
  text-align: center;
  padding-top: 240px;
}
.sidebar .logo-title .description {
  font-size: 14px;
  color: #565654;
}
.sidebar .logo-title .logo {
  margin: 0 auto;
}
.sidebar .logo-title .title h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
}
.sidebar .logo-title .title a {
  text-decoration: none;
  color: #464646;
  font-size: 2rem;
  font-weight: bold;
}
.sidebar .social-links {
  list-style: none;
  padding: 0;
  font-size: 14px;
  text-align: center;
}
.sidebar .social-links i {
  margin-right: 3px;
}
.sidebar .social-links li {
  display: inline;
  padding: 0 4px;
  line-height: 0;
}
.sidebar .social-links a {
  color: #565654;
}
.sidebar .social-links a:hover {
  color: #4786D6;
}

.post {
  background-color: #FFF;
  margin: 30px;
}
.post .post-title h1 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 1;
}
.post .post-title h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
  color: #5f5f5f;
}
.post .post-title h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  color: #464646;
  font-size: 22px;
  margin: 0;
}
.post .post-title a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #5f5f5f;
}
.post .post-title a:hover {
  text-decoration: underline;
}
.post .post-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #4786D6;
}
.post .post-content a:hover {
  color: #2F69B3;
}
.post .post-content h3 {
  color: #5F5F5F;
  font-size: 22px;
  font-weight: 600;
}
.post .post-content h4 {
  color: #5F5F5F;
  font-size: 16px;
}
.post .post-footer {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #f2f2f2;
}
.post .post-footer .meta {
  max-width: 100%;
  height: 25px;
  color: #bbbbbb;
}
.post .post-footer .meta .info {
  float: left;
  font-size: 12px;
}
.post .post-footer .meta .info .date {
  margin-right: 10px;
}
.post .post-footer .meta a {
  text-decoration: none;
  color: #bbbbbb;
  padding-right: 10px;
}
.post .post-footer .meta a:hover {
  color: #4786D6;
}
.post .post-footer .meta i {
  margin-right: 6px;
}
.post .post-footer .tags {
  padding-bottom: 15px;
  font-size: 13px;
}
.post .post-footer .tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.post .post-footer .tags ul li {
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  display: inline;
}
.post .post-footer .tags a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.44);
  font-weight: 400;
}
.post .post-footer .tags a:hover {
  text-decoration: none;
}

.pagination {
  margin: 30px;
  padding: 0px 0 56px 0;
  border-bottom: 1px solid #f2f2f2;
}
.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 13px;
}
.pagination ul li {
  margin: 0 2px 0 2px;
  display: inline;
  line-height: 1;
}
.pagination ul li a {
  text-decoration: none;
}
.pagination .pre {
  float: left;
}
.pagination .next {
  float: right;
}

.like-reblog-buttons {
  float: right;
}

.like-button {
  float: right;
  padding: 0 0 0 10px;
}

.reblog-button {
  float: right;
  padding: 0;
}

#install-btn {
  position: fixed;
  bottom: 0px;
  right: 6px;
}

#disqus_thread {
  margin: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.footer {
  clear: both;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}
.footer a {
  color: #A6A6A6;
}
.footer a:hover {
  color: #4786D6;
}

/*for archive*/
.archive {
  width: 100%;
}

.list-with-title {
  font-size: 14px;
  margin: 30px;
  padding: 0;
}
.list-with-title li {
  list-style-type: none;
  padding: 0;
}
.list-with-title .listing-title {
  font-size: 24px;
  color: #666666;
  font-weight: 600;
  line-height: 2.2em;
}
.list-with-title .listing {
  padding: 0;
}
.list-with-title .listing .listing-post {
  padding-bottom: 5px;
}
.list-with-title .listing .listing-post .post-time {
  float: right;
  color: #C5C5C5;
}
.list-with-title .listing .listing-post a {
  color: #8F8F8F;
}
.list-with-title .listing .listing-post a:hover {
  color: #4786D6;
}

/* share */
.share {
  margin: 0px 30px;
  display: inline-flex;
}

.twitter {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #59C0FD;
  margin-right: 5px;
}
.twitter a {
  color: #fff;
  padding: 9px;
}
.twitter a:hover {
  color: #59C0FD;
  background: white;
}

.facebook {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #4267b2;
}
.facebook a {
  color: #fff;
  padding: 9px 11px 11px 11px;
}
.facebook a:hover {
  color: #4267b2;
  background: white;
}

/* about */
.about {
  margin: 30px;
}
.about h3 {
  font-size: 22px;
}

/* links*/
.links {
  margin: 30px;
}
.links h3 {
  font-size: 22px;
}
.links a {
  cursor: pointer;
}

/* 评论样式 */
.comment-count {
  color: #666;
}

.tab-community {
  color: #666;
}

.read_more {
  font-size: 14px;
}

.back-button {
  padding-top: 30px;
  max-width: 100px;
  padding-left: 40px;
  float: left;
}

/* 默认评论样式 */
#fb_comments_container {
  margin: 30px;
}

/* 按钮样式 */
a.btn {
  color: #868686;
  font-weight: 400;
}

.btn {
  display: inline-block;
  position: relative;
  outline: 0;
  color: rgba(0, 0, 0, 0.44);
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

.btn:hover {
  display: inline-block;
  position: relative;
  outline: 0px;
  color: #464545;
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #464545;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

[role="back"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="home"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="navigation"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="tags"] {
  padding: 6px 12px;
}

/* Menu样式 */
.menu {
  float: right;
  padding-top: 30px;
}
.menu .btn-down {
  margin: 0px;
}
.menu .btn-down li {
  list-style: none;
  width: 100px;
}
.menu .btn-down li a {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.25em;
  outline: 0;
  color: rgba(0, 0, 0, 0.44);
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  margin-top: 5px;
}
.menu .btn-down li a:hover {
  position: relative;
  padding: 0.5em 1.25em;
  outline: 0;
  color: #fff;
  background: #3CBD10;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  margin-top: 5px;
}
.menu .btn-down div {
  position: absolute;
  visibility: hidden;
  width: 100px;
  float: right;
}

.page_404 {
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 960px) {
  .sidebar {
    width: 100%;
    position: absolute;
    border-right: none;
    z-index: 1;
  }
  .sidebar .logo-title {
    padding-top: 120px;
  }
  .sidebar .logo-title .title img {
    width: 100px;
  }
  .sidebar .logo-title .title h3 {
    font-size: 20px;
  }

  .page-top {
    width: 100%;
  }

  .post-title h3 {
    line-height: 1.6;
  }

  .content {
    margin-top: 420px;
    width: 100%;
    z-index: 2;
    position: absolute;
  }

  .footer {
    display: none;
  }

  .share {
    display: grid;
  }
}
